
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-color:hsl(185, 75%, 39%);
    padding: 0;
    margin: 0; 
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    opacity: 0.3;
    color: hsl(227, 10%, 46%);
}





#fundo-direito {
    position: fixed;
    top: 50%;
    left: 50%;  
}

#fundo-esquerdo {
    position: fixed;
    bottom: 50%;
    right: 50%;
    
   
}

.card {
    position: relative;
    border-radius: 15px;
    background-color: #ffffff;
     
}

.card-top{
    border-radius: 15px 15px;
}

.card-profile {
    
    position: absolute;
    border-radius: 50%;
    border-color: white;
    border-radius: 15px;
}

.card-middle{
    text-align: center;
    align-items: center;
    text-align: center;
    
    padding: 2rem 0 2rem 0;
    font: 300;
    color: hsl(229, 23%, 23%);
}

.card-bottom {
    
    position: relative;
    justify-content: space-evenly;
    color: hsl(229, 23%, 23%);
    display: flex;
    padding: 0 0 2rem 0;
}

#image-top{
    border-radius: 15px 15px 0 0;
}

#image-profile {
    border-radius: 50%;
    border-color: white;
    border-width: 15px;
}

.followers {
    text-align: center;
}

.likes {
    text-align: center;
}

.photos {
    text-align: center;
}

.unbold-text {
    color:hsl(229, 23%, 23%);
    font-weight: normal;
    opacity: 0.7;
}

footer {
    font-size: 11px; 
    text-align: center; 
    align-items: center;
    color: hsl(228, 45%, 44%); 
    padding:  4rem 0 2rem;
}

